<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Restaurant Chefs - Welcome to Our Restaurant</title>
    <style>
        body {
            width: 800px;
            margin: auto;
            font-family: Arial, sans-serif;
        }
        h1 {
            color: #333;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to Our Restaurant</h1>
</header>
<main>
    <h2>Choose a chef:</h2>
    <form action="/dish" method="POST">
        <!-- Display radio buttons for each chef,
             the value should be the chef id
             and the displayed text should be:
             Name: <firstName> <lastName>, Bio: <bio> -->
        <input type="radio" name="chefId" value="1"> Chef 1 <br/>
        <input type="radio" name="chefId" value="2"> Chef 2 <br/>
        <input type="radio" name="chefId" value="3"> Chef 3 <br/>
        <input type="submit" value="Submit">
    </form>
</main>
</body>
</html>